@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";

body {
    background-color: mintcream;
    font-family: 'Raleway', sans-serif;
}

nav {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}

#blog {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

#blog article {
    margin-top: 4rem;
    width: 50%;
}

@media (max-width: 1024px) {
    #blog article {
        width: 85%;
    }
}

.post-title {
    align-items: center;
    display: flex;
}

.post-title a {
    color: steelblue;
    margin-left: .5rem;
    text-decoration: none;
}

.post-title a:last-child {
    color: red;
}

.post-title > div {
    margin-left: auto;
}

.post-author {
    margin: .5rem 0;
}

.post-excerpt {
    margin-bottom: 1rem;
}

.post-detail {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.post-detail > h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.post-detail > h5 {
    margin-bottom: 1rem;
}